<!-- <h1 class="text-center">Product List</h1> -->

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <input [(ngModel)]="searchText" type="search" placeholder="Search..." class="form-control">
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary">Asc</button>
            <button class="btn btn-secondary mx-1">Desc</button>
        </div>
    </div>
    <div class="row">
        @for(product of products | search:searchText | paginate: { itemsPerPage: 4, currentPage: p };track product.id){
        <div class="col-sm-3 g-4">
            <div class="card text-center">
                <img src="{{product.image}}" class="card-img-top" alt="..." height="180px">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text text-truncate">{{product.description}}</p>
                    <p class="card-text">{{product.price}}</p>
                    <p class="card-text">{{product.rating.rate}}</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="col-sm-4 offset-4 my-4">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>