<h1 class="text-center">This is User Details Page</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-3 g-4 offset-4">
            <div class="card text-center">
                <img src="https://attic.sh/22khbjqy656j556fgjqo3sgzx5u6" class="card-img-top" alt="..." height="180px">
                <div class="card-body">
                    <h5 class="card-title">{{user?.name}}</h5>
                    <p class="card-text text-truncate">{{user.username}}</p>
                    <p class="card-text">{{user?.email}}</p>
                    <p class="card-text">{{user?.address?.city}}</p>
                    <button class="btn btn-primary" (click)="goBack()">Go Back</button>
                </div>
            </div>
        </div>
    </div>
</div>