<h1 class="text-center">User Details Component - {{userId}}</h1>
<div class="text-center">
    Please Change user Id to See the change:
    <input type="number" [(ngModel)]="userId" />
</div>
<div class="col-sm-4 offset-4 g-4">
    <div class="card text-center">
        <img src="https://www.shutterstock.com/image-vector/user-login-authenticate-icon-human-260nw-1365533969.jpg"
            class="card-img-top" alt="..." height="180px">
        <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <p class="card-text text-truncate">{{user.email}}</p>
            <p class="card-text">{{user.phone}}</p>
            <p class="card-text">{{user.address.city}}</p>
            <p class="card-text">{{user.address.zipcode}}</p>
        </div>
    </div>
</div>